* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    &::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgb(248 250 252);

    &.app-mode-simple {
        background-color: #090A0E;
    }
}

.appContent {
    transition: margin-right 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &--simple {
        background-color: #090A0E;
        min-height: 100vh;
    }
}

button {
    border: none;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

main{
    padding: 0 4rem;
}
